.btn-color {
	background-color: #65C18C;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

.btn-position {
	margin-right: 30px;
}